table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

th {
	background-color: white;
}

.head {
	font-style: italic;
}

tr:nth-of-type(odd) {
	background-color: yellow;
}

tr:nth-of-type(even) {
	background-color: orange;
}

tfoot tr td {
	background-color: white;
}

ul {
	list-style: none;
}

.outer-content {
	background-color: pink;
	margin: 20px 0;
	padding: 20px;
	width: 75%;
	position: relative;
}

.inner-content {
	background-color: lightblue;
	width: inherit;
	text-align: center;
	margin: auto;
}